---
---

#newsletter {
  text-align: center;
  p {
    margin-bottom: 10px;
  }
    h2 {
        text-align: center;
        font-weight: 500;
    }

  input[type="submit"]:hover {
    cursor: pointer;
  }

   background-color: #eeeefff3;
   padding: 10px;
   border-radius: 5px;
}

.newsletter-line {

        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        border-left: 0px solid white;
        border-right: 0px solid white;
        margin-bottom: 30px;
}

hr .custom-line {
  margin-bottom: 15px;
  border-top: 1px solid #e8e8e8;
}

.email {
    &:hover {
        text-decoration: none;
      }
   color: #111;
}

@import "minima";

